@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the IT Helpdesk</h1>
    <p>Have you Tried turning it off and on?</p>
    <img src="~/Images/Broxap Logo.jfif" width="250px" height="100px" />
</div>
